.gpf-btn-icon-route {
  background-image: url("img/route.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.GProuteFormMini {
  max-height: 78px;
}

.GProuteFormMini .GPelementShow {
  color: #333;
}
