/*
 * Liste des surcharges du mode DSFR
 */
:root {
  --size-per-row: 44px;
}

.gpf-widget {
  position: absolute;
  pointer-events: auto;
  /* display: flex;*/
  padding: 2px;
}

.gpf-widget-button {
  width: 40px;
}

.gpf-panel {
  position: relative;
  background-color: unset;
  width: max-content;
}

/* FIXME A remplacer avec gestion des collisions */
.gpf-panel form {
  max-height: 400px;
  overflow: auto;
  padding: 0 2rem 2rem 2rem;
}

.gpf-panel--hidden {
  display: none;
}

.gpf-panel__body {
  overflow: unset;
  position: relative;
}

.gpf-panel__header {}

.gpf-panel__title {
  text-align: left;
}

.gpf-panel__footer {
  background-color: transparent;
  padding: 0;
  margin-top: 0;
  justify-content: center;
}

.gpf-panel__footer > input[type="submit"] {
  width: 100%;
}

.gpf-panel__content {
  padding: unset;
  margin-bottom: unset;
}

.gpf-panel--close,
.gpf-panel--reduce,
.gpf-panel--info {
  position: relative;
  cursor: pointer;
}

/********/
/* flex */
/********/

.gpf-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.gpf-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gpf-flex-padding {
  padding: 5px;
}

.gpf-hidden {
  display: none;
  visibility: hidden;
  opacity: 0%;
}

.gpf-visible {
  display: block;
  visibility: visible;
  opacity: 100%;
}

/***********/
/* waiting */
/***********/

.gpf-waiting {
  position: absolute;
  height: inherit;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
}

.gpf-waiting--hidden {
  display: none;
}

.gpf-waiting--visible {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  z-index: 4000;
}

.gpf-waiting_info {
  margin: auto;
}

/***********/
/* button  */
/***********/

.gpf-btn-icon.gpf-btn--secondary {
  background-color: var(--background-default-grey);
}

.gpf-btn-icon:not([class*=--tertiary])[aria-pressed="true"] {
  background-color: var(--hover-tint);
  position: relative;
}

.gpf-widget:has(.gpf-btn-icon:not([class*=--tertiary])[aria-pressed="true"])::after {
  background-color: var(--background-action-high-blue-france);
  content: "";
  width: 3px;
  height: 40px;
  left: 44px;
  position: absolute;
  transform: translateY(-40px);
}

@supports(-moz-appearance:none) {
  .gpf-widget:has(.gpf-btn-icon:not([class*=--tertiary])[aria-pressed="true"])::after {
    transform: unset;
  }
}

.gpf-btn-icon:not([class*=--tertiary])[aria-label]:hover::before {
  content: attr(aria-label);
  position: absolute;
  top: 0;
  color: var(--text-default-grey);
  font-size: .75rem;
  width: fit-content;
  white-space: nowrap;
  padding: .5rem .5rem 0.5rem 1.25rem;
  background-size: .375rem .5rem,.375rem .5rem,1px, 100%,calc(100% - 0.5rem) 100%;
  background-repeat: no-repeat;
  background-position: 0.125rem 50%, 0% 50%,0.375rem 100%,0.375rem 100%;
  filter: drop-shadow(0 2px 6px rgba(0,0,18,.16));
  filter: drop-shadow(var(--overlap-shadow));
  background-image: conic-gradient(from 56.31deg at 0% 50%,transparent 0deg,var(--background-overlap-grey) 0deg,var(--background-overlap-grey) 67.38deg,transparent 67.38deg),conic-gradient(from 56.31deg at 0% 50%,transparent 0deg,var(--border-default-grey) 0deg,var(--border-default-grey) 67.38deg,transparent 67.38deg),linear-gradient(90deg,var(--border-default-grey),var(--border-default-grey)),linear-gradient(90deg,var(--background-overlap-grey),var(--background-overlap-grey));
}

.position-container-top-left .gpf-btn-icon:not([class*=--tertiary])[aria-label]:hover::before,
.position-container-bottom-left .gpf-btn-icon:not([class*=--tertiary])[aria-label]:hover::before {
  transform: translateX(24px);
}

.position-container-top-right .gpf-btn-icon:not([class*=--tertiary])[aria-label]:hover::before,
.position-container-bottom-right .gpf-btn-icon:not([class*=--tertiary])[aria-label]:hover::before {
  transform: translateX(calc(-100% - 16px));
  padding: .5rem 1.25rem .5rem .5rem;
  background-size: .375rem .5rem, .375rem .5rem, 1px 100%, 100%;
  background-position: calc(100% - 0.125rem) 50%, 100% 50%, calc(100% - 0.375rem) 0, calc(100% - 0.375rem) 0;
  background-image: conic-gradient(from 236.31deg at 100% 50%, transparent 0deg, var(--background-overlap-grey) 0deg, var(--background-overlap-grey) 67.38deg, transparent 67.38deg), conic-gradient(from 236.31deg at 100% 50%, transparent 0deg, var(--border-default-grey) 0deg, var(--border-default-grey) 67.38deg, transparent 67.38deg), linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
}


.gpf-btn--secondary,
.gpf-btn--tertiary {
  position: relative;
}

.gpf-btn--tertiary::after,
.gpf-btn--secondary::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--text-action-high-blue-france);
  -webkit-mask: linear-gradient(#0000, #0000);
  mask: linear-gradient(#0000, #0000);
}

.gpf-btn--tertiary:disabled:after,
.gpf-btn--secondary:disabled::after {
  background-color: var(--text-disabled-grey);
}


.gpf-btn--hidden {}

.gpf-btn-icon-return {}

.gpf-btn-icon-submit {}

.gpf-btn-icon-reverse {}

/* positionnement absolu en haut à droite du bouton "fermer" */
.gpf-btn-icon-close {
  float: right;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.gpf-btn-icon {
  width: inherit;
  caret-color: transparent;
}

.gpf-btn-icon-reset::after {
  -webkit-mask:
    linear-gradient(#fff 0 0) top /100% 1px,
    linear-gradient(#fff 0 0) bottom/100% 1px,
    linear-gradient(#fff 0 0) left /1px 100%,
    linear-gradient(#fff 0 0) right /1px 100%,
    url("img/GPclose.png") -25px center;
  mask:
    linear-gradient(#fff 0 0) top /100% 1px,
    linear-gradient(#fff 0 0) bottom/100% 1px,
    linear-gradient(#fff 0 0) left /1px 100%,
    linear-gradient(#fff 0 0) right /1px 100%,
    url("img/GPclose.png") -25px center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--text-action-high-blue-france);
}

.gpf-btn-icon-info {
  width: 40px;
  height: 40px;
}

/*************/
/* elements  */
/*************/

.gpf-label {}

.gpf-select {}

.gpf-input {
  padding-left: 5px;
}

.gpf-radio-group {}

.gpf-radio-btn-group {
  display: flex;
  gap: 1em;
}

.gpf-upload {}

/*************/
/* panel     */
/*************/

.gpf-panel__list,
.gpf-panel__advancedlist {
  z-index: 2;
  width: inherit;
  /* display: none; */
  position: absolute;
  max-height: 140px;
  background-color: #FFF;
  border: 1px solid #999;
  overflow-y: hidden;
}

.gpf-panel__advancedlist {
  width: calc(100% - 28px);
  border-top: none;
  font-size: 0.9em;
}

.gpf-panel__items:hover {
  color: #000000;
  background-color: #CEDBEF
}

.gpf-panel__items {
  width: 100%;
  height: 28px;
  line-height: 16px;
  padding: 6px 10px;
  color: #5E5E5E;
  font-size: 1.0em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.gpf-panel::after {
  height: unset;
}

.gpf-panel::before {
  height: unset;
}

/***********/
/* position*/
/***********/
:root {
  --size-per-row: 50px;
}

.position-container-top-left,
.position-container-top-right,
.position-container-bottom-left,
.position-container-bottom-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* crée un décalage sur le searchEngine */
  /* align-items: center; */
  /* + 5px pour l'indicateur "bouton actif" */
  width: calc(var(--size-per-row) + 4px);
  min-height: var(--size-per-row);
  /* padding: 5px; */
  height: calc(100% - 8px);
}

.position-container-top-left,
.position-container-top-right {
  top: 4px;
}

.position-container-top-left {
  float: left;
  left: 8px;
}

.position-container-top-right {
  float: right;
  right: 4px;
}

.position-container-bottom-left,
.position-container-bottom-right {
  bottom: 4px;
  justify-content: flex-end;
}

.position-container-bottom-right {
  float: right;
  right: 4px;
}

.position-container-bottom-left {
  float: left;
  left: 8px;
}

/**********************/
/* Feature info popup */
/**********************/

.gp-feature-info-div {
  bottom: 17px;
  position: relative;
  max-width: calc(100vw - 80px);
  padding: 10px;
  /* border-radius: 10px; */
  font-size: 0.75em;
  /* font-family: "Open Sans", sans-serif;
  color: #002A50; */
  background-color: #FFF;
  box-shadow: 0 0 5px #000;
}

.gp-feature-info-div::before {
  content: "";
  position: absolute;
  border-top: 15px solid #FFF;
  border-right: 14px solid transparent;
  border-left: 14px solid transparent;
  bottom: -15px;
  margin-left: -14px;
  left: 50%;
}

.gp-feature-info-div .closer {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-image: url("img/close-blue.svg");
  background-size: 14px 14px;
  background-position: center;
}

.gp-features-content-div {
  max-width: 420px;
  min-width: 260px;
  max-height: 340px;
  overflow: auto;
}

.gp-features-content-div h5,
.gp-features-content-div h6,
.gp-features-content-div p,
.gp-features-content-div ul {
  margin: 0;
}

.gp-features-content-div ul {
  padding: 0;
  list-style-type: none;
}

.geoportail-popup-content h5,
.geoportail-popup-content h6,
.geoportail-popup-content p,
.gp-att-name-div,
.gp-att-description-div,
.gp-att-others-div {
  padding: 0 10px;
}

.geoportail-popup-content h5:not(:last-child),
.geoportail-popup-content h6:not(:last-child),
.geoportail-popup-content p:not(:last-child),
.gp-att-description-div:not(:last-child),
.gp-att-others-div:not(:last-child) {
  margin-bottom: 15px;
}

.geoportail-popup-content h5:last-child,
.geoportail-popup-content h6:last-child,
.geoportail-popup-content p:last-child,
.gp-att-description-div:last-child,
.gp-att-others-div:last-child,
.gp-att-name-div {
  margin-bottom: 10px;
}

.geoportail-popup-content h5:first-child,
.geoportail-popup-content h6:first-child,
.geoportail-popup-content p:first-child,
.gp-att-name-div:first-child,
.gp-att-description-div:first-child,
.gp-att-others-div:first-child {
  margin-top: 10px;
}

.gp-att-name-div,
.gp-features-content-div h5 {
  padding-right: 35px;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #0B6BA7;
}

.gp-features-content-div h6 {
  font-size: 1.1em;
}

.gp-att-description-div:not(:last-child),
.gp-att-others-div:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px dotted #666;
}

/* surcharge css OpenLayers */
.ol-disabled {
  --idle: transparent;
  --hover: var(--background-disabled-grey-hover);
  --active: var(--background-disabled-grey-active);
  background-color: var(--background-disabled-grey);
  color: var(--text-disabled-grey);
  cursor: not-allowed;
  /* instead of display: none */
  display: block;
}

.ol-scale-bar, .ol-scale-line {
  z-index: -1;
}

/* surcharge DSFR pour coller aux règles et au rendu de https://www.systeme-de-design.gouv.fr/composants-et-modeles/composants/accordeon/ */
/* FIXME: pourquoi on a besoin de faire ça ?? normalement ces règles devraient être importées avec le reste... */
.fr-collapse {
  --collapse-max-height: none;
}

.fr-collapse:not(.fr-collapse--expanded):not(.fr-collapsing) {
  --collapse-max-height: 0;
}

@media (max-width: 576px) {
  .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog {
      width: 100vw !important;
  }

  .gpf-mobile-fullscreen form div, .gpf-mobile-fullscreen form p {
    margin: auto;
    text-align: center;
  }

  .gpf-mobile-fullscreen .gpf-mobile-form {
    max-height: unset;
    height: 100vh;
  }

  .position-container-top-right .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog,
  .position-container-bottom-right .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog,
  .position-container-top-left .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog,
  .position-container-bottom-left .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog {
      top: -4px !important;
      left: -8px !important;
      right: unset !important;
  }

  .position-container-top-right .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog,
  .position-container-bottom-right .gpf-mobile-fullscreen > button[aria-pressed="true"] ~ dialog {
      right: -4px !important;
      left: unset !important;
  }
}
