.fr-icon-ign-dessiner-trace-fill::before,
.fr-icon-ign-dessiner-trace-fill::after {
  -webkit-mask-image: url('./img/icons/ign-dessiner-trace-fill.svg');
  mask-image: url('./img/icons/ign-dessiner-trace-fill.svg');
}
.fr-icon-ign-dessiner-trace-line::before,
.fr-icon-ign-dessiner-trace-line::after {
  -webkit-mask-image: url('./img/icons/ign-dessiner-trace-line.svg');
  mask-image: url('./img/icons/ign-dessiner-trace-line.svg');
}
.fr-icon-ign-shape-3-fill::before,
.fr-icon-ign-shape-3-fill::after {
  -webkit-mask-image: url('./img/icons/ign-shape-3-fill.svg');
  mask-image: url('./img/icons/ign-shape-3-fill.svg');
}
