@use '../../mixins.scss' as mx;

.input-style-number {
  .input-style__container {
    & > .input-style__buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;

      > .input-style__button-up,
      > .input-style__button-down {
        height: 1rem;
        min-height: 1rem;
        max-height: 1rem;
      }
    }

    &:has(.input-style__input:focus:focus-visible) {
      outline-offset: 2px;
      outline-width: 2px;
      outline-color: #0a76f6;
      outline-style: solid;
    }
  }

  .input-style__input {
    text-align: center;

    &:focus:focus-visible {
      outline-style: none;
    }

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }
}
