.gpf-widget-padding {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gpf-widget-color {
    background-color: #ffffff;
}

.gpf-panel__items,
.GPlabelTitle {
  color: var(--text-action-high-blue-france);
  border-bottom: 1px solid var(--grey-900-175);
  padding: 12px;
}


.gpf-panel__items {
  height: unset;
}

.GPlabelTitle {
  background-color: var(--background-open-blue-france);
  font-size: 1.0em;
}

select[name^="inputSex"].gpf-select {
  padding: unset;
}
input[name^="inputSex"].gpf-input {
  padding: unset;
}

button[id^=GPsearchInputReset] {
  width: 40px;
  height: 40px;
}

div.GPbuttonsContainer > button {
  width: 40px;
}

.gpf-btn-icon-search {
    background-image: url("img/dsfr/search-line.svg");
    background-repeat: no-repeat;
    background-position: center center;
    /* cas particulier ou on n'utilise pas la class gpf-icon-button pour la largeur à cause du DOM du control*/
    width: 40px;
}
/* hack pour forcer la couleur d'un element desactivé */
.gpf-btn-icon-search:disabled {
    background-color: #000091;
}
.gpf-btn-icon-search-advanced {
  background-image: url("img/dsfr/recherche-avancee.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.gpf-btn-icon-search-geolocate {
    background-image: url("img/dsfr/localiser.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.gpf-btn-icon-search-coordinate {
    background-image: url("img/dsfr/coordonnees.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.gpf-btn-icon-search-reset {
  background-position: -25px center;
}

dialog[id^=GPcoordinateSearchPanel],
dialog[id^="GPadvancedSearchPanel"] {
  position: absolute;
  top: 66px;
  width: inherit;
}

/* Autocomplete list / geocode results */

div[id^=GPautoCompleteList],
dialog[id^=GPgeocodeResultsList] {
  width: 300px;
  position: absolute;
  height: fit-content;
  background-color: #FFF
}

div[id^=GPautoCompleteList] {
  top: 42px;
  margin-left: 42px;
}

dialog[id^=GPgeocodeResultsList] {
  position: absolute;
  top: 55px;
  border-radius: 4px;
  overflow: hidden;
}

div[id^=GPgeocodeResults-] {
  width: 100%;
  position: relative;
  background-color: #FFF;
  max-height: 240px;
  overflow-y: auto;
}

/* Mode Mobile */
@media (max-width: 576px) {
  div[id^="GPsearchEngine-"] {
    flex-direction: column;
  }

  dialog[id^=GPcoordinateSearchPanel],
  dialog[id^="GPadvancedSearchPanel"] {
    position: relative;
    top: unset;
    margin-left: unset;
  }
}
