/** STYLE DSFR RECHERCHE AVANCEE **/

div[data-open="true"] > section.fr-accordion::before {
  box-shadow: inset 0 1px 0 0 var(--border-default-grey);
}


div[id^=GPsearchEngine-Advanced] {
  width: 100%;
}

@media (min-width: 36em) {
  div[id^=GPsearchEngine-Advanced] {
    width: 360px;
  }
}

div[id^=GPsearchEngine-AdvancedContainer] > button.GPSearchEngine-locate {
  margin-bottom : 0.75rem;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch] > .GPLonLatInputs {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch][data-unit="DMS"] > .GPLonLatInputs {
  flex-direction: column;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch] > .GPLonLatInputs .display-mask {
  display: none;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch][data-unit="DMS"] > .GPLonLatInputs .display-mask {
  display: unset;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  pointer-events: none;
  font-family: inherit;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch][data-unit="DMS"] > .GPLonLatInputs input[id^=CoordinateAdvancedSearch-] {
  color: transparent;
  caret-color: var(--text-default-grey);
  letter-spacing: 2px;
}


form[id^=GPAdvancedForm-CoordinateAdvancedSearch] > .GPLonLatInputs select {
  display: none;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch][data-unit="DMS"] > .GPLonLatInputs select {
  display: unset;
}

form[id^=GPAdvancedForm-CoordinateAdvancedSearch] > .GPLonLatInputs .GPCoordinateInputs {
  display: flex;
  flex-direction: row;
  gap: 8px;
}


form[id^=GPAdvancedForm-CoordinateAdvancedSearch] > .GPLonLatInputs .GPCoordinateInputs select {
  width:auto;
}

.GPCoordinateInputs > div {
  position: relative;
}


[id^="GPsearchEngine-Advanced"] > .GPAdvancedContainer  {
  background-color: var(--background-default-grey);
}

[id^="GPsearchEngine-Advanced"] .GPsearchInputSubmit:disabled {
  background-color: var(--background-action-high-blue-france);
}

/* Surcharge DSFR */
div[id^=GPsearchEngine-AdvancedContainer-] .fr-accordion .fr-collapse {
  margin: 0 -0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.fr-icon-map-pin-add-line::before,
.fr-icon-map-pin-add-line::after {
  -webkit-mask-image: url("./img/dsfr/map-pin-add-line.svg");
  mask-image: url("./img/dsfr/map-pin-add-line.svg");
}
.fr-icon-map-pin-add-fill::before,
.fr-icon-map-pin-add-fill::after {
  -webkit-mask-image: url("./img/dsfr/map-pin-add-fill.svg");
  mask-image: url("./img/dsfr/map-pin-add-fill.svg");
}

.fr-icon-bike-line::before,
.fr-icon-bike-line::after {
  -webkit-mask-image: url("./img/dsfr/bike-line.svg");
  mask-image: url("./img/dsfr/bike-line.svg");
}

.fr-icon-parking-box-line::before,
.fr-icon-parking-box-line::after {
  -webkit-mask-image: url("./img/dsfr/parking-box-line.svg");
  mask-image: url("./img/dsfr/parking-box-line.svg");
}
.fr-icon-plane-line::before,
.fr-icon-plane-line::after {
  -webkit-mask-image: url("./img/dsfr/plane-line.svg");
  mask-image: url("./img/dsfr/plane-line.svg");
}
.fr-icon-subway-line::before,
.fr-icon-subway-line::after {
  -webkit-mask-image: url("./img/dsfr/subway-line.svg");
  mask-image: url("./img/dsfr/subway-line.svg");
}
.fr-icon-crosshair-2-line::before,
.fr-icon-crosshair-2-line::after {
  -webkit-mask-image: url("./img/dsfr/crosshair-2-line.svg");
  mask-image: url("./img/dsfr/crosshair-2-line.svg");
}

[id^="GPsearchEngine"] form[id^="GPsearchInput-Base-"].GPSearchBar > .GPInputGroup:has(> .GPsearchInputText:focus:focus-visible) {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: #0a76f6;
  outline-style: solid;
}

[id^="GPsearchEngine"] form[id^="GPsearchInput-Base-"].GPSearchBar > .GPInputGroup >.GPsearchInputText:focus:focus-visible {
  outline-style: none;
}