.gpf-widget-padding {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gpf-widget-color {
    background-color: #ffffff;
}

.gpf-btn-icon-search {
    background-image: url("img/GPsearchEngineOpen.png");
    background-repeat: no-repeat;
    background-position: 3px center;
}
/* hack pour forcer la couleur d'un element desactivé */
.gpf-btn-icon-search:disabled {
    background-color: #000091; 
}
.gpf-btn-icon-search-advanced {
    background-image: url("img/GPsearchEngineOpen.png");
    background-position: -126px center;
    background-repeat: no-repeat;
}
.gpf-btn-icon-search-geolocate {
    background-image: url("img/GPsearchEngineOpen.png");
    background-position: -178px center;
    background-repeat: no-repeat;
}
.gpf-btn-icon-search-coordinate {
    background-image: url("img/GPsearchEngineOpen.png");
    background-position: -152px center;
    background-repeat: no-repeat;
}

.gpf-btn-icon-reset {
  background-image: url("img/GPsearchEngineClose.png");
  background-position: -29px center;
}
.gpf-btn-icon-close {}