.gpf-widget-padding {
  padding-top: 5px;
  padding-bottom: 5px;
}

.gpf-widget-color {
  background-color: var(--background-default-grey);
}

.gpf-panel__items_searchengine,
.GPlabelTitle {
  border-bottom: 1px solid var(--grey-900-175);
  padding: 12px;
}

.gpf-panel__items_searchengine:last-child {
  border-bottom: unset;
}

.gpf-panel__items.GPautoCompleteProposal {
  height: 48px;
  box-sizing: border-box;
  margin-bottom: 0;
  line-height: unset;
}

.GPlabelTitle {
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-left: 35px;
  background-size: 32px;
  background-position: center left;
  background-repeat: no-repeat;
}

.GPlabelTitle.search-results-loc {
  background-image: url(img/dsfr/lieux-adresses.svg);
}

.GPlabelTitle.search-results-data {
  background-image: url(img/dsfr/catalogue.svg);
}

dialog[id^=GPcoordinateSearchPanel],
dialog[id^=GPadvancedSearchPanel] {
  max-height: unset;
}

select[name^="inputSex"].gpf-select {
  padding: unset;
}

input[name^="inputSex"].gpf-input {
  padding: unset;
}

button[id^=GPsearchInputReset] {
  width: 40px;
  height: 40px;
}

[id^="GPshowSearchDiv"] {
  flex-direction: row-reverse;
}

[id^="GPsearchEngine-"] {
  flex-direction: column;
}

[id^="GPsearchEngine-"].gpf-widget-padding {
  align-items: center;
}

div.GPbuttonsContainer > button {
  width: 40px;
}

.GPsearchFirstLineWrapper {
  height: 40px;
}

.gpf-widget-padding > .GPsearchFirstLineWrapper {
  margin: 0.5rem 0;
}

.GPbuttonsContainer {
  height: 56px;
  padding-left: 10px;
}

.GPsearchRadioContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--background-default-grey);
  white-space: nowrap;
  max-height: 0;
  overflow: clip;
  transition: max-height 0.3s;
  gap: 1rem;
}

[id^="GPsearchEngine-"]:has([id^="GPshowSearchByCoordinate-"][aria-pressed="true"]) > .GPsearchRadioContainer,
[id^="GPsearchEngine-"]:focus-within > .GPsearchRadioContainer,
[id^="GPsearchEngine-"]:hover > .GPsearchRadioContainer {
  max-height: 3rem;
}

.GPsearchRadioElements {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.GPshowAdvancedSearch {
  color: var(--text-action-high-blue-france);
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
}

.gpf-btn-icon-search {
  background-image: url("img/dsfr/search-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* cas particulier ou on n'utilise pas la class gpf-icon-button pour la largeur à cause du DOM du control*/
  width: 40px;
}

form[id^=GPsearchInput-] {
  width: 312px;
}

button[id^="GPshowSearchEnginePicto-"][aria-pressed="false"] + form[id^=GPsearchInput-] {
  max-width: 0px;
  border: none;
}

button[id^="GPshowSearchEnginePicto-"][aria-pressed="true"] + form[id^=GPsearchInput-] {
  max-width: 312px;
}

button[id^="GPshowSearchEnginePicto-"] {
  border-radius: 0 0.25rem 0 0;
}

.gpf-btn-icon-search-advanced::after {
  -webkit-mask: url("img/dsfr/recherche-avancee.svg") center no-repeat;
  mask: url("img/dsfr/recherche-avancee.svg") center no-repeat;
}

.gpf-btn-icon-search-geolocate::after {
  -webkit-mask: url("img/dsfr/localiser.svg") center no-repeat;
  mask: url("img/dsfr/localiser.svg") center no-repeat;
}

.gpf-btn-icon-search-coordinate::after {
  -webkit-mask: url("img/dsfr/coordonnees.svg") center no-repeat;
  mask: url("img/dsfr/coordonnees.svg") center no-repeat;
}

.gpf-btn-icon-search-reset {
  background-position: -25px center;
}

dialog[id^=GPgeocodeResultsList],
dialog[id^=GPcoordinateSearchPanel],
dialog[id^="GPadvancedSearchPanel"] {
  position: absolute;
  width: inherit;
}

/* Autocomplete list / geocode results */

[id^="GPautocompleteResults-"] {
  border: 1px solid var(--background-open-blue-france);
}

div[id^=GPautoCompleteList] {
  width: 320px;
  position: absolute;
  height: fit-content;
  background-color: var(--background-default-grey);
  max-height: unset;
}

div[id^=GPautoCompleteList] {
  top: 42px;
  margin-left: 2px;
}

.position-container-top-left [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-bottom-left [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-top-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-bottom-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList] {
  width: 340px;
  position: relative;
  top: unset;
  margin-left: 8px;
}

.position-container-top-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-bottom-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList] {
  margin-right: 10px;
}

.gpf-widget-padding > div[id^=GPautoCompleteList] {
  top: 100%;
  width: 100%;
  margin: 0;
}

dialog[id^=GPgeocodeResultsList] {
  overflow: hidden;
  max-height: unset;
  height: inherit;
  bottom: unset;
}

div[id^=GPgeocodeResults-] {
  width: 100%;
  position: relative;
  background-color: var(--background-default-grey);
  max-height: 240px;
  overflow-y: auto;
}

[id^="GPautocompleteResultsSuggest"],
[id^="GPautocompleteResultsLocation"] {
  max-height: 322px;
  padding: 16px;
  border-bottom: 1px solid var(--grey-900-175);
}

/* Mode Mobile */
@media (max-width: 576px) {

  .gpf-widget-padding > .GPsearchFirstLineWrapper {
    flex-direction: column;
    height: fit-content;
  }

  .GPsearchRadioContainer {
    flex-direction: column;
    align-items: center;
  }

  dialog[id^=GPcoordinateSearchPanel],
  dialog[id^="GPadvancedSearchPanel"] {
    position: relative;
    top: unset;
    margin-left: unset;
  }

  .GPsearchRadioContainer {
    gap: 0;
    margin: 0 8px;
  }

  form[id^=GPsearchInput-] {
    margin-left: 0;
  }

  [id^="GPsearchEngine-"]:has([id^="GPshowSearchByCoordinate-"][aria-pressed="true"]) > .GPsearchRadioContainer,
  [id^="GPsearchEngine-"]:focus-within > .GPsearchRadioContainer,
  [id^="GPsearchEngine-"]:hover > .GPsearchRadioContainer {
    max-height: 4rem;
  }
}

[id^="GPsearchEngine"] ul {
  padding: 12px;
  padding-bottom: 0px;
  margin: 0;
  width: 100%;
}

[id^="GPsearchEngine"] ul:empty {
  padding: unset;
}

[id^="GPsearchEngine"] ul li {
  padding: 0.75rem 0.5rem;
  color: var(--text-action-high-grey);
}

[id^="GPsearchEngine"] ul li::before {
  margin-right: 0.5rem;
}

[id^="GPsearchEngine"] ul li.active,
[id^="GPsearchEngine"] ul li:hover {
  color: #000000;
  background-color: var(--background-default-grey-hover);
}

[id^="GPsearchEngine"] ul li:active {
  color: #000000;
  background-color: var(--background-default-grey-active);
}

.fr-icon-history-line::before,
.fr-icon-history-line::after {
  -webkit-mask-image: url("./img/dsfr/history-line.svg");
  mask-image: url("./img/dsfr/history-line.svg");
}

form[id^=GPsearchInput] > input[id^=GPsearchInputText] {
  height: 3rem;
  max-height: 3rem;
}