/* SEARCH ENGINE */

[id^="GPsearchEngine-"] {
  flex-direction: row;
  align-items: center;
}

.position-container-top-left [id^="GPsearchEngine-"],
.position-container-bottom-left [id^="GPsearchEngine-"],
.position-container-top-right [id^="GPsearchEngine-"],
.position-container-bottom-right [id^="GPsearchEngine-"] {
  flex-direction: column;
  align-items: flex-start;
  height: 32px;
}

.position-container-top-left [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-bottom-left [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-top-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList],
.position-container-bottom-right [id^="GPsearchEngine-"] > div[id^=GPautoCompleteList] {
  position: relative;
  top: unset;
}

.GPshowSearchEnginePicto {
  background-image: url("img/GPsearchEngineOpen.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.GPbuttonsContainer {
  padding-right: 5px;
  padding-left: 5px;
}

.GPshowGeolocate {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -102px center;
  background-repeat: no-repeat;
  transition: border-radius 0.5s ease-out 0s;
  margin-right: 5px;
}

.GPshowSearchByCoordinate {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -76px center;
  background-repeat: no-repeat;
  transition: border-radius 0.5s ease-out 0s;
  margin-right: 5px;
}

.GPshowAdvancedSearch  {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -24px center;
  background-repeat: no-repeat;
  transition: border-radius 0.5s ease-out 0s;
}

.GPsearchInputReset {
  background-image: url("img/GPsearchEngineClose.png");
  background-position: 0 center;
}

.gpf-select {
  background-color: #FFF;
}

button[id^="GPshowSearchEnginePicto-"][aria-pressed="false"] + form[id^=GPsearchInput-] {
  max-width: 0px;
  border: none;
}

button[id^="GPshowSearchEnginePicto-"][aria-pressed="true"] {
  border-top-right-radius: 0;
}

button[id^=GPsearchInputReset] {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 32px;
  height: 32px;
}

button[id^=GPcoordinateSearchClose],
button[id^=GPgeocodeResultsClose],
button[id^=GPadvancedSearchClose] {
  top: 0;
  right: 0;
  width: 30px;
  height: 32px;
}

button[id^=GPcoordinateSearchClose],
button[id^=GPgeocodeResultsClose] {
  background-position: 0 0;
}

button[id^=GPadvancedSearchClose] {
  background-repeat: no-repeat;
}

button[id^=GPcoordinateSearchClose],
button[id^="GPgeocodeResultsClose"] {
  background-image: url("img/GPsearchEngineClose.png");
}

button[id^="GPadvancedSearchClose"] {
  background-image: url("img/GPsearchEngineOpen.png");
  background-position: -50px 3px;
}

form[id^=GPsearchInput-] {
  width: 280px;
}

form[id^=GPsearchInput-] input {
  display: block;
  width: 100%;
  /* height: 100%; */
  border: 1px solid #999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  padding-right: 30px;
  padding-left: 5px;
  color: #333;
  font-size: 1.0em;
}

form[id^=GPsearchInput-] input:disabled {
  background-color: #DDD;
  color: #999;
}

button[id^="GPshowSearchEnginePicto-"][aria-pressed="true"] + form[id^=GPsearchInput-] {
  max-width: 280px;
}

.GPsearchInputText {
  height: 32px;
}

dialog[id^=GPcoordinateSearchPanel],
dialog[id^=GPadvancedSearchPanel] {
  width: 310px;
  position: absolute;
  top: 35px;
  margin-left: 33px;
}

/* Autocomplete list / geocode results */

[id^="GPautocompleteResults-"] {
  box-shadow: 0 0 6px #000;
}

div[id^=GPautoCompleteList],
dialog[id^=GPgeocodeResultsList] {
  width: 280px;
  position: absolute;
  max-height: 140px;
  background-color: var(--background-default-grey);
}


div[id^=GPautoCompleteList] {
  top: 35px;
}

dialog[id^=GPgeocodeResultsList] {
  position: absolute;
  top: 35px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 33px;
}


div[id^=GPgeocodeResults-] {
  width: 100%;
  position: relative;
  background-color: #FFF;
  max-height: 140px;
  overflow-y: auto;
}

.GPcoordinateSearchLabel,
.GPadvancedSearchCodeLabel,
.GPadvancedSearchFilterLabel {
  max-width: 105px;
}

.GPcoordinateSearchSystemsSelect,
.GPcoordinateSearchSystemsLabel,
.GPadvancedSearchCodeLabel,
.GPadvancedSearchCode,
 div[id^=GPadvancedSearchFilters] {
  margin-top: 15px;
}

.GPcoordinateSearchSystemsLabel,
.GPcoordinateSearchSystemsSelect,
.GPcoordinateSearchUnitsLabel,
.GPcoordinateSearchUnitsSelect,
.GPcoordinateSearchLabel,
.GPcoordinateSearchInput,
.GPadvancedSearchFilterLabel,
.GPadvancedSearchFilterInput {
  margin-bottom: 5px;
}

[id^="GPautocompleteResultsSuggest"],
[id^="GPautocompleteResultsLocation"] {
  padding: 0;
}

[id^="GPsearchEngine"] ul {
  margin: 3px 0;
  width: 100%;
  padding: 0;
}

[id^="GPsearchEngine"] ul li {
  color: #5E5E5E;
  padding: 6px 10px;
}

[id^="GPsearchEngine"] ul li.active,
[id^="GPsearchEngine"] ul li:hover {
    color: #000000;
    background-color: #CEDBEF;
}