div[id^=GPpanoramax-] {
    top: 0px;
    right: 0px;
}

/* Showing/hiding */

button[id^=GPshowPanoramaxPicto][aria-pressed="false"] + dialog {
    display: none;
    visibility: hidden;
    opacity: 0%;
}

button[id^="GPshowPanoramaxPicto-"][aria-pressed="true"] + dialog {
    display: flex;
    visibility: visible;
    opacity: 100%;
    width: 350px;
    /* height: initial; */
    /* max-height: inherit; */
}

button[id^="GPshowPanoramaxPicto-"][aria-pressed="true"] + dialog[id^="GPpanoramaxPanelButtons-"] {
    height: 50px;
}

button[id^="GPshowPanoramaxPicto-"][aria-pressed="true"] + dialog[id^="GPpanoramaxPanelViewer-"] {
    width: 750px;
    height: 100%;
}

dialog[id^="GPpanoramaxPanelButtons-"] {
    position: absolute;
    left: 34px;
    top: 0px;
    height: inherit;
}

dialog[id^="GPpanoramaxPanelViewer-"] {
    position: absolute;
    left: 34px;
    top: 0px;
    height: inherit;
}