/* surcharge en mode dsfr */
.ol-custom-full-screen button {
    height: 40px;
    width: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
.ol-custom-full-screen button.ol-custom-full-screen-false::after {
    -webkit-mask: url("img/dsfr/fullscreen.svg") center no-repeat;
    mask: url("img/dsfr/fullscreen.svg") center no-repeat;
}
.ol-custom-full-screen button.ol-custom-full-screen-true::after {
    -webkit-mask: url("img/dsfr/fullscreen-off.svg") center no-repeat;
    mask: url("img/dsfr/fullscreen-off.svg") center no-repeat;
}