/* GET FEATURE INFO */
.gpf-btn-icon-getfeatureinfo::after {
    -webkit-mask: url("img/NoGFI.svg") center no-repeat;
    mask: url("img/NoGFI.svg") center no-repeat;
}

button[id^="GPgetFeatureInfoPicto-"][aria-pressed="true"]::after {
    -webkit-mask: url("img/GFI.svg") center no-repeat;
    mask: url("img/GFI.svg") center no-repeat;
}