/* GET FEATURE INFO */

div[id^=GPgetFeatureInfo-] {
  top: 260px;
  left: 10px;
}

button[id^="GPgetFeatureInfoPicto-"] {}
  
button[id^="GPgetFeatureInfoPicto-"][aria-pressed="false"] {
  background-position: 0px center;
}
  
button[id^="GPgetFeatureInfoPicto-"][aria-pressed="true"] {
  background-position: -26px center;
}
  
button[id^="GPgetFeatureInfoPicto-"] {
    background-image: url("img/GPactivateGfi.png");
    background-repeat: no-repeat;
}