.gpf-btn-icon-import::after {
  -webkit-mask: url("img/layerimport.svg") center no-repeat;
  mask: url("img/layerimport.svg") center no-repeat;
}

.gpf-btn-icon-return::after {
  /* INFO : utiliser l'icone DSFR "fr-icon-arrow-go-back-fill fr-btn--sm fr-btn--icon" */
  -webkit-mask: url("img/GPimportMapBoxReturn.png") center no-repeat;
  mask: url("img/GPimportMapBoxReturn.png") center no-repeat;
}
