.gpf-btn-icon-import {
  background-image: url("img/layerimport.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}

.gpf-btn-icon-return::after {
  /* INFO : utiliser l'icone DSFR "fr-icon-arrow-go-back-fill fr-btn--sm fr-btn--icon" */
  -webkit-mask:
      url("img/GPimportMapBoxReturn.png") center no-repeat;
  mask:
      url("img/GPimportMapBoxReturn.png") center no-repeat;
}
