
/* Import form */
[id^="GPimportPanel-"] {
  width: 280px;
}

[id^="GPimportGetCapPanel-"],
[id^="GPimportMapBoxPanel-"] {
  width: 340px;
}

.GPshowImportPicto {
  background-image: url("img/GPimportOpen.png");
  background-repeat: no-repeat;
  background-position: 1px center;
}

.GPimportPanelClose,
.GPimportGetCapPanelClose,
.GPimportMapBoxPanelClose {
    background-image: url("img/GPimportOpen.png");
}

.GPimportMapBoxPanelReturnPicto {
  background-color: #366291;
  background-image: url("img/GPimportMapBoxReturn.png");
  /* background-position: 3px center; */
}

.GPimportChoiceAlt input[type="radio"] {
  display: none;
}

.GPimportChoiceAltTxt {
  display: block;
  line-height: 28px;
  color: #BBB;
  font-weight: bold;
  cursor: pointer;
}

input[type="radio"]:checked + .GPimportChoiceAltTxt {
  color: #366291;
}

/* Line inputs */

.GPimportInputLine {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-bottom: 10px;
}

.GPimportInputLine > * {
  display: block;
  height: 28px;
  line-height: 26px;
  border: 1px solid #999;
  border-radius: 0;
}

.GPimportInputLine *:not(:last-child) {
  border-right:none;
}

.GPimportInputLine *:first-child {
  border-radius: 3px 0 0 3px;
}

.GPimportInputLine *:last-child {
  border-radius: 0 3px 3px 0;
}

.GPimportInputLine > *:not(input) {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.GPimportInputLine > input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  padding: 0 5px;
  min-width: 0;
}

.GPimportInputLine > select {
  -webkit-box-flex: 1;
  -ms-flex: 1;
      flex: 1;
  padding-right: 7px;
}

.GPimportInputLine > label {
  background-color:  #F2F2F2;
  color: #666;
  padding-left: 7px;
  padding-right: 9px;
  cursor: pointer;
}



.GPimportGetCapProposal {
  width: 100%;
  height: 28px;
  line-height: 16px;
  padding: 6px 10px;
  color: #5E5E5E;
  font-size: 1.0em;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow:ellipsis;
     text-overflow:ellipsis;
  cursor: pointer;
  list-style-type: none;
}

.GPimportGetCapRubriqueTitle,
.GPimportMapBoxSourceTitle,
.GPimportMapBoxListSourceTitle {
    color: #5E5E5E;
}

.GPimportGetCapRubrique,
.GPimportGetCapListRubrique,
.GPimportMapBoxSource,
.GPimportMapBoxListSource {
    list-style-type: none;
}

li.GPimportGetCapRubrique:before,
li.GPimportGetCapListRubrique:before,
li.GPimportMapBoxSource:before,
li.GPimportMapBoxListSource:before {
	/* content: "→ "; caractère UTF-8 */
    content: "» ";
}

.GPimportGetCapProposal:hover,
.GPimportGetCapRubrique:hover,
.GPimportMapBoxSource {

}

.GPimportGetCapRubriqueTitle:hover,
.GPimportMapBoxSourceTitle:hover {
    color: #000000;
}

.GPimportGetCapProposal:hover {
  color: #000000;
}

.GPimportMapBoxSourceVisibility,
.GPimportMapBoxSourceStyle,
.GPimportMapBoxSourceFilter,
.GPimportMapBoxSourceScale {
    display: inline-block;
    margin-left: 15px;
}

.GPimportMapBoxJsonEdit {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}
.GPimportMapBoxJsonEdithidden {
    display: none;
}

.gp-json-string { color: green; }
.gp-json-number { color: darkorange; }
.gp-json-boolean { color: blue; }
.gp-json-null { color: magenta; }
.gp-json-key { color: red; }

.GPimportMapBoxSourceVisibilityInput {
    display: block  !important;
}

.GPimportMapBoxSourceVisibilityLabel {

}

.GPimportMapBoxSourceScale {
}
