/* LAYER SWITCHER */

.GPlayerSwitcher_layer {
  height: auto;
  background-color: #FFF;
  border-bottom: 1px dotted #CCC;
}

div[id^=GPlayerSwitcher-] {
  height: 32px;
}

button[id^=GPshowLayersListPicto][aria-pressed="true"] + dialog[id^=GPlayersList] {
  /* width: 218px; */
  width: 300px;
}

button[id^=GPshowLayersListPicto] {
  /* transition: opacity 0.5s ease-out 0s, box-shadow  0.5s ease-out 0s, border  0.5s ease-out 0s, border-radius  0.5s ease-out 0s; */
  background-position: -2px center;
  background-repeat: no-repeat;
  background-image: url("img/GPshowLayersList.png");
}

button[id^=GPshowLayersListPicto][aria-pressed="true"] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-position: -35px center;
  /* transition: border-radius 0.5s ease-out 0s, opacity 0.5s ease-out 0s; */
}

/* Layers list */
.GPpanelBody {
  overflow: auto;
  max-height: 200px;
}

button[id^=GPlayerInfoClose] {
  background-position: -2px center;
  background-repeat: no-repeat;
  background-image: url("img/GPlayerInfoClose.png");
  background-color: unset;
}
button[id^=GPlayersPanelClose] {
  background-position: -2px center;
  background-repeat: no-repeat;
  background-image: url("img/GPlayerClose.png");
}

.GPpanelIcon {
  background-image: url("img/layers.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}
/* Layer info panel */

[id^=GPlayerInfoPanel] {
  right: 190px;
}

div[id^=GPlayerInfoTitle] {
  color: #366291;
  border-bottom: 1px solid #366291;
}


.GPlayerBasicTools,
.GPlayerAdvancedTools {
  position: relative;
  width: 100%;
  /* height: 28px; */
}

.GPlayerExtent,
.GPlayerVisibility,
.GPlayerInfo,
.GPlayerInfoOpened,
.GPlayerRemove,
.GPlayerEdit {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.GPghostLayer {
  opacity: 0;
}

div[id^=GPlayerSwitcher_ID_].selected-layer > .GPlayerBasicTools {
    background-color: #FFFFFF88;
}

/* Layer basic tools */

.GPlayerBasicTools {
  background-color: #FFF;
}


/* Layer advanced tools */

.GPlayerExtent,
.GPlayerVisibility,
.GPlayerRemove,
.GPshowLayerAdvancedTools {
  background-image: url("img/GPlayerTools.png");
}

.GPlayerInfo::before,
.GPlayerInfoOpened::before,
.GPlayerEdit::before {
  background-image: url("img/GPlayerTools.png");
}

.GPlayerGreyscale:empty {
  cursor: pointer;
}

.GPlayerGreyscale::before {
  background-image: url("img/GPgreyscale.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Opacity slider : Chrome, Safari, Opera */

.GPlayerOpacity input[type="range"]::-webkit-slider-runnable-track {
  background: url("img/GPopacitySlider.png");
  background-size: 100%;
}

/* Opacity slider : Firefox */

.GPlayerOpacity input[type="range"]::-moz-range-track {
  background: url("img/GPopacitySlider.png");
  background-size: 100%;
}

/* Opacity slider : IE */

.GPlayerOpacity input[type="range"]::-ms-track {
  background: url("img/GPopacitySlider.png");
  background-size: 100%;
}


div[id^=GPlayerInfoQuicklook] {
  background-image: url("img/GPlayerInfo.png");
}

div[id^=GPlayerInfoClose] {
  background-image: url("img/GPlayerInfoClose.png");
}

.GPlayerInfoLink,
.GPlayerInfoPopup {
  background-image: url("img/GPlayerInfo.png");
}

button[id^=GPinfo_ID_]:empty,
button[id^=GPedit_ID_]:empty,
button[id^=GPextent_ID_]:empty,
button[id^=GPvisibilityPicto_ID_]:empty,
button[id^=GPremove_ID]:empty,
button[id^=GPgreyscale_ID]:empty {
  border: none;
  background-color: transparent;
}

button[id^=GPvisibilityPicto_ID_][aria-pressed="false"] {
  background-position: -28px 0;
}

button[id^=GPvisibilityPicto_ID_][aria-pressed="true"] {
  background-position: 0 0;
}


.GPlayerSwitcher_layer:has(button[id^=GPshowAdvancedTools_ID_][aria-pressed="true"]) > .GPlayerAdvancedTools {
  max-height: 28px;
}

.GPshowLayerAdvancedTools {
  /* top: 0;
  right: 0; */
  background-position: -112px 0;
}

.GPlayerInfo::before {
  /* left: 0; */
  background-position: -62px 0;
}

.GPlayerInfoOpened::before {
  /* left: 0; */
  background-position: -90px 0;
}

.GPlayerEdit::before {
  /* left: 0; */
  background-position: -83px 0;
}

.GPlayerOpacity {
  /* left: 28px; */
  width: calc(100% - 128px);
  height: 28px;
  padding-left: 8px;
}

.GPlayerOpacityValue {
  width: 32px;
  left: calc(100% - 88px);
  line-height: 28px;
  font-size: 10px;
  font-style: italic;
  cursor: default;
}

.GPlayerRemove {
  right: 0;
  background-position: -140px 0;
}

/* Opacity slider : general */

.GPlayerOpacity input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.GPlayerOpacity input[type="range"]:focus {
  box-shadow: none;
  outline: none;
}

/* Opacity slider : Chrome, Safari, Opera */

.GPlayerOpacity input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 3px;
}

.GPlayerOpacity input[type="range"]::-webkit-slider-thumb:before {
  position: absolute;
  top: 0;
  right: 50%;
  left: -200px;
  height: 3px;
  pointer-events: none;
}

.GPlayerOpacity input[type="range"]::-webkit-slider-thumb {
  width: 9px;
  height: 17px;
  -webkit-appearance: none;
  border: 2px solid #FFF;
  background-color: #505050;
  position: relative;
  top: -7px;
}

/* Opacity slider : Firefox */

.GPlayerOpacity input[type="range"]::-moz-range-track {
  /* width: 80px; */
  height: 3px;
}

.GPlayerOpacity input[type="range"]::-moz-range-thumb {
  width: 5px;
  height: 13px;
  border: 2px solid #FFF;
  border-radius: 0;
  box-shadow: 0;
  background-color: #505050;
  position: relative;
}

/* Opacity slider : IE */

.GPlayerOpacity input[type="range"]::-ms-track {
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 3px;
  width: 80px;
}

.GPlayerOpacity input[type="range"]::-ms-fill-lower,
.GPlayerOpacity input[type="range"]::-ms-fill-upper {
  background: transparent;
  border-radius: 0;
}

.GPlayerOpacity input[type="range"]::-ms-thumb {
  width: 5px;
  height: 13px;
  border: 2px solid #FFF;
  background-color: #505050;
}

.GPlayerOpacity input[type="range"]::-ms-tooltip {
  display: none;
}

/* Layer info panel */

[id^=GPlayerInfoPanel] {
  position: absolute;
  top: 0;
  overflow-y: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}

.GPlayerInfoPanelOpened {
  display: block;
}

.GPlayerInfoPanelClosed {
  display: none;
}

div[id^=GPlayerInfoTitle] {
  width: calc(100% - 52px);
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
}

div[id^=GPlayerInfoQuicklook] {
  position: absolute;
  top: -2px;
  left: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

div[id^=GPlayerInfoClose] {
  position: absolute;
  top: -8px;
  right: 10px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

div[id^=GPlayerInfoDescription] {
  font-size: 0.9em;
}

div[id^=GPlayerInfoLegend] {

}

div[id^=GPlayerInfoMetadata] {

}

.GPlayerInfoSubtitle {
  padding-left: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
}

.GPlayerInfoLink,
.GPlayerInfoPopup {
  line-height: 20px;
  padding-left: 23px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  color: #999999;
  background-repeat: no-repeat;
  cursor: pointer;
}

.GPlayerInfoLink {
  background-position: 0 -20px;
}

.GPlayerInfoLink:hover,
.GPlayerInfoPopup:hover {
  color: #333;
}

.GPlayerInfoLink a,
.GPlayerInfoLink a:visited
.GPlayerInfoLink a:focus
.GPlayerInfoLink a:hover {
  text-decoration: none;
  color: inherit;
}


.GPlayerName {
  line-height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: move;
}

.outOfRange .GPlayerName {
  color: #AAA;
}

div[id^=GPlayerInfoContent] {
  width: 280px;
}

.GPbodyHeader {
  padding: 4px 8px;
}

.GPbasicToolButtons button {
  position: relative;
}

div[id^="GPtitle_ID_"] {
  margin-left: 8px;
}

.GPtitleImage {
  border:none;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 30px;
  width: 30px;
}

div[id^=GPlayerProducer_ID_] {
  color: #353535;
}

.GPAdvancedToolBtnsGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px 8px;
  padding: 0 8px 4px;
}

.GPAdvancedToolBtnsGroup > button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}


.GPAdvancedToolBtnsGroup > button:disabled {
  cursor: not-allowed;
}

.GPAdvancedToolBtnsGroup > button:not(:empty) {
  width: auto;
}

.GPAdvancedToolBtnsGroup > button:empty {
  width: 28px;
  height: 28px;
}

.GPAdvancedToolBtnsGroup > button:empty::before {
  width: 1rem;
  height: inherit;
}

.GPAdvancedToolBtnsGroup > button::before {
  content: "";
  flex: 0 0 auto;
}

.GPAdvancedToolBtnsGroup > button[class*=" gpf-btn-icon-ls-tools-"]::before,
.GPAdvancedToolBtnsGroup > button[id^=GPinfo_ID_]:not(:empty)::before,
.GPAdvancedToolBtnsGroup > button[id^=GPremove_ID_]:not(:empty)::before,
.GPAdvancedToolBtnsGroup > button[id^=GPgreyscale_ID]:not(:empty)::before,
.GPAdvancedToolBtnsGroup > button[id^=GPvisibilityPicto_ID_]:not(:empty)::before {
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  mask-size: 100% 100%;
  width: 1rem;
  height: 1rem;
}

.GPAdvancedToolBtnsGroup > button[class*=" gpf-btn-icon-ls-tools-"]::before {
  background-color: #909090;
}