/* LAYER SWITCHER OL3 */





/* Layers list */

.GPlayerVisibility,
.GPshowLayerAdvancedTools,
.GPlayerInfo,
.GPlayerInfoOpened,
.GPlayerRemove {
  background-image: url("img/GPlayerTools.png");
}

/* Opacity slider : Chrome, Safari, Opera */

.GPlayerOpacity input[type="range"]::-webkit-slider-runnable-track {
  background: url("img/GPopacitySlider.png");
}

/* Opacity slider : Firefox */

.GPlayerOpacity input[type="range"]::-moz-range-track {
  background: url("img/GPopacitySlider.png");
}

/* Opacity slider : IE */

.GPlayerOpacity input[type="range"]::-ms-track {
  background: url("img/GPopacitySlider.png");
}

/* Layer info panel */

div[id^=GPlayerInfoPanel] {
  right: 190px;
}

div[id^=GPlayerInfoTitle] {
  color: #366291;
  border-bottom: 1px solid #366291;
}

div[id^=GPlayerInfoQuicklook] {
  background-image: url("img/GPlayerInfo.png");
}

div[id^=GPlayerInfoClose] {
  background-image: url("img/GPlayerInfoClose.png");
}

.GPlayerInfoLink,
.GPlayerInfoPopup {
  background-image: url("img/GPlayerInfo.png");
}
