/* LAYER SWITCHER */

div[id^=GPlayerSwitcher-] {
  top: 8px;
  right: 8px;
}

div[id^=GPlayerSwitcher-] {
  /* dsfr */
  flex-direction: row-reverse;
  align-items: flex-start;
}

div[id^=GPlayerSwitcher-] [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

/* Manage opening of the components through hiden checkboxes */

div[id^=GPlayerSwitcher-] input[type="checkbox"] + button + dialog {
  max-height: 0px;
}

input[id^=GPshowLayersList-] {
  display: none;
}

/* Showing/hiding layers list */

button[id^=GPshowLayersListPicto] {
  float: right;
  /* transition: opacity 0.5s ease-out 0s, box-shadow  0.5s ease-out 0s, border  0.5s ease-out 0s, border-radius  0.5s ease-out 0s; */
  background-position: -2px center;
  background-repeat: no-repeat;
  background-image: url("img/GPshowLayersList.png");
}

button[id^=GPshowLayersListPicto][aria-pressed="false"] + dialog {
  display: none;
  visibility: hidden;
  opacity: 0%;
}


button[id^="GPshowLayersListPicto-"][aria-pressed="true"] + dialog {
  display: block;
  visibility: visible;
  opacity: 100%;
}

button[id^=GPshowLayersListPicto][aria-pressed="true"] {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-position: -35px center;
  /* transition: border-radius 0.5s ease-out 0s, opacity 0.5s ease-out 0s; */
}

/* Layers list */

dialog[id^=GPlayersList] {
  position: relative;
  border-bottom-right-radius: 0;
  opacity: 0;
  overflow: auto;
  /* transition: max-height 0.5s ease-out 0s, opacity 0.5s ease-out 0.25s; */
}

button[id^=GPshowLayersListPicto][aria-pressed="true"] + dialog[id^=GPlayersList] {
  max-height: 232px;
  width: 180px;
  opacity: 1;
}

button[id^=GPshowLayersListPicto][aria-pressed="false"] + dialog[id^=GPlayersList] {
  /* transition: max-height 0.5s ease-in 0s, opacity 0.25s ease-in 0s; */

}
/* Layer : general */

.GPlayerSwitcher_layer {
  position: relative;
  top: 0;
  background-color: #FFF;
  border-bottom: 1px dotted #CCC;
  overflow: hidden;
}

dialog[id^=GPlayersList] .GPlayerSwitcher_layer:last-child {
  border-bottom: none;
}

