/* MEASURELENGTH POSITION */


/* Showing/hiding measureLength position panel */

button[id^="GPshowMeasureAreaPicto-"] {
  background-image: url("img/GPmeasuresOpen.png");
  background-repeat: no-repeat;
  background-position: -78px center;
}
  
button[id^="GPshowMeasureAreaPicto-"][aria-pressed="false"] {
  background-color: rgba(0,60,136,0.5);
}
  
button[id^="GPshowMeasureAreaPicto-"][aria-pressed="true"] {
  background-color: rgba(0,60,136,0.7);
}