.gpf-btn-icon-pointer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask: url("img/reticle.svg") center no-repeat;
    mask: url("img/reticle.svg") center no-repeat;
    background-color: var(--text-inverted-blue-france);
}

.gpf-btn-icon-pointer {
  min-width: 2.5rem;
  position: relative;
}

.gpf-btn-icon-label {}
.gpf-btn-icon-remove::after {
    -webkit-mask: url("img/GPlocationOptions.png") -82px center no-repeat;
    mask: url("img/GPlocationOptions.png") -82px center no-repeat;
}

.gpf-btn-icon-add::after {
    -webkit-mask: url("img/GPlocationOptions.png") -54px center no-repeat;
    mask: url("img/GPlocationOptions.png") -54px center no-repeat;
}
