/* Location */
[id*="GPlocationOriginPointer"] {
  background-image: url("img/GPlocationOptions.png");
  background-repeat: no-repeat;
}

[id^=GPlocationStageRemove],
[id^=GPlocationStageAdd] {
  background-image: url("img/GPlocationOptions.png");
}

[id^=GPlocationStageRemove],
[id^=GPlocationStageAdd] {
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
}

.GPlocationOpen {
  background-color: unset;
}
.GPlocationOriginLabel {}
.GPlocationStageRemove {
  background-position: -84px center;
}
.GPlocationStageAdd {
  background-position: -56px center;
}

[id*="GPlocationOriginPointer"] + .GPlocationOriginPointerImg {
  background-position: -1px center;
}

[id*="GPlocationOriginPointer"]:checked + .GPlocationOriginPointerImg {
  background-position: -29px center;
}

.GPlocationStageFlexInput {
  max-height: 28px;
  opacity: 1;
}

button.GPlocationOriginPointerImg[id*="GPlocationOriginPointerImg"] {
  width: 28px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #999;
}

.GPlocationStageFlexInput {
    margin-bottom: 5px;
}

div[id^=GPlocationAutoCompleteResult] {
  background-color: #fff;
  border: 1px solid grey;
}

div[id^=GPlocationAutoCompleteList] {
  width: 100%;
}
