/* Location */

.GPlocationStageFlexInput {
  max-height: 28px;
  opacity: 1;
}

.GPlocationStageFlexInputHidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

label.GPlocationOriginPointerImg[id*="GPlocationOriginPointerImg"] {
  width: 28px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid #999;
}

.GPlocationStageFlexInput {
    margin-bottom: 5px;
}
