.gpf-btn-icon-elevation {
    background-image: url("img/altipath.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
  }

#profileElevationByDefaultSvg {
    height: 80%;
}

[id^=GPelevationPathPanelInfo] {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
}

[id^=GPelevationPathPanelInfo]::after {
  -webkit-mask: url("../../img/GPinfo_secondary.svg") center no-repeat;
  mask: url("../../img/GPinfo_secondary.svg") center no-repeat;
}