.gpf-btn-icon-elevation::after {
  -webkit-mask: url("img/altipath.svg") center no-repeat;
  mask: url("img/altipath.svg") center no-repeat;
}

[id^=GPelevationPathPanelInfo] {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
}

/* surcharge de fr-panel pour permettre la saisie sous la fenêtre de résultat */
[id^=GPelevationPathPanel] {
  height: unset;
}

[id^=GPelevationPathPanelInfo]::after {
  -webkit-mask: url("../../img/GPinfo_secondary.svg") center no-repeat;
  mask: url("../../img/GPinfo_secondary.svg") center no-repeat;
}

[id^=GPelevationPathProfil] > #profileElevationByDefault > svg {
  transform: translateY(1rem);
}

[id^=GPelevationPathProfil] {
  height: 150px;
  width: 300px;
}

.GPelevationPathProfilWrapper  {
  padding: 0 2rem;
}

div[id^=GPelevationPathInformationsContainer] {
  display: grid;
  width: calc(300px + 4rem);
  padding: 0 2rem 1rem 2rem;
  grid-template-columns: 50% 50%;
  gap: 0.5rem 0;
}

.GPelevationPathInformations {
  font-size: 13px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.GPelevationPathInformations > span {
  white-space: nowrap;
}

.GPelevationPathInformations > span:last-child {
  font-size: 19px;
  font-weight: bold;
}

/* Mode Mobile */

@media (max-width: 576px) {
  div[id^=GPelevationPathInformationsContainer], #GPelevationPathProfil {
    margin: auto;
  }
}
