div[id^=GPelevationPath-] {
  /* height: 36px; */
}

/* Showing/hiding elevationPath panel */


button[id^="GPshowElevationPathPicto-"] {}

button[id^="GPshowElevationPathPicto-"][aria-pressed="false"] + dialog {
  display: none;
  visibility: hidden;
  opacity: 0%;
}

button[id^="GPshowElevationPathPicto-"][aria-pressed="true"] + dialog {
  display: block;
  visibility: visible;
  opacity: 100%;
}

/* Panel */

[id^=GPelevationPathPanelClose] {
  background-image: url("img/GPshowElevationPath.png");
  background-repeat: no-repeat;
  background-position: -27px center;
}

[id^=GPelevationPathPanelReduce] {
  background-image: url("img/GPshowElevationPath.png");
  background-repeat: no-repeat;
  background-position: -50px center;
}

[id^=GPelevationPathPanel-] {
  position : relative;
  top : 6px;
  left: 32px;
}

/* ELEVATION PATH DISPLAY */

[id^=GPelevationPathProfil] {
  height: 150px;
  width: inherit;
}

button[id^=GPelevationPathPanelReduce] {
  display: none; /* on n'affiche pas le bouton d'information par defaut */
}

button[id^=GPelevationPathPanelInfo] {
  display: none; /* on n'affiche pas le bouton d'information par defaut */
}

div[id^=GPelevationPathInformationsContainer] {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
  overflow: hidden;
}
