.gpf-btn-icon-submit {
    background-image: url("img/GPexportSave.svg");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}
.gpf-accordion::before {
    box-shadow: unset;
}

.gpf-accordion__btn {
    width: fit-content;
}

.gpf-accordion__title {

}

dialog div .gpf-full-container {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
  }