.gpf-btn-icon-overviewmap::after {
    -webkit-mask: url("img/overviewmap.svg") center no-repeat;
    mask: url("img/overviewmap.svg") center no-repeat;
}

.ol-overviewmap:has(> .gpf-btn-icon[aria-pressed="true"])::after {
    transform: translateY(-100%);
}

.ol-overviewmap:not(.ol-collapsed) {
    background: unset;
}