.gpf-btn-icon-position {
    background-image: url("img/position.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

div[id^=GPmousePositionBasicPanel-] .fr-mb-1w {
  display: flex;
  justify-content: space-between;
}
