.gpf-btn-icon-position {
    background-image: url("img/position.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

div[id^=GPmousePositionCoordinate-] input {
  color: inherit;
}

div[id^=GPmousePositionAltitude-],
div[id^=GPmousePositionCoordinate-] > div {
  display: flex;
  justify-content: space-between;
}

div[id^=GPmousePositionCoordinate-] input[readonly] {
  font-size: 1rem
}