/****************/
/* MOUSE POSITION */
/****************/

div[id^="GPmousePosition-"] {
  bottom: 8px;
  left: 10px;
}
/* Showing/hiding mousePosition panel */


button[id^="GPshowMousePositionPicto-"] {}

button[id^="GPshowMousePositionPicto-"][aria-pressed="false"] + dialog {
  display: none;
  visibility: hidden;
  opacity: 0%;
}

button[id^="GPshowMousePositionPicto-"][aria-pressed="true"] + dialog {
  display: block;
  visibility: visible;
  opacity: 100%;
}

button[id^="GPshowMousePositionPicto-"] {
  background-image: url("img/GPmousePositionOpen.png");
  background-repeat: no-repeat;
  background-position: 1px center;
}

/* General panels */

dialog[id^=GPmousePositionPanel-] {
  bottom: 0px;
}

button[id^=GPmousePositionPanelClose]  {
  background-image: url("img/GPmousePositionOpen.png");
}

[id^=GPmousePositionPanel-] {
  overflow: hidden;
  left: 34px;
  top: inherit;
  position: absolute;
  width: 280px;
  height: inherit;
}

/* Basic infos */

div[id^=GPmousePositionBasicPanel] {
  padding: 10px 15px;
  position: relative;
}

div[id^=GPmousePositionSettings-] {
  display: block;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out 0s, opacity 0.5s ease-out 0s;
}

button[id^="GPshowMousePositionSettings"] {
  border: unset;
}

div[id^=GPmousePosition-] button[id^="GPshowMousePositionSettings"][aria-pressed="true"] + div[id^=GPmousePositionSettings-] {
  opacity: 1;
  padding-bottom: 20px;
  max-height: fit-content;
}

/* Settings */

button[id^=GPmousePositionSettings-] {
  padding-left: 0 15px;
  overflow: hidden;
}

/* General panels */

div[id^=GPmousePositionCoordinate-] input.error {
    border: 1px solid rgb(255, 0, 0);
}
div[id^=GPmousePositionCoordinate-] input[readonly] {
    border: 1px solid transparent;
    padding: 2px;
    text-align: right;
}

input[id^=GPmousePositionLat-], input[id^=GPmousePositionLon-] {
    width: 120px;
}

span[id^=GPmousePositionAlt-] {
    display: inline-block;
    padding: 2px;
    width: 120px;
    line-height: 20px;
    text-align: right;
}

span[id^=GPmousePositionCloseEdit] {
    background-position: -18px 0;
    margin-left: 5px;
}

img[id^=GPmousePositionMarker]:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* Map center localisation */

#GPmapCenter {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

#GPmapCenter.GPmapCenterVisible {
  display: block;
}