/* REVERSE GEOCODING */

.GPelementHidden {
  display: none;
}

/* Showing/hiding reverse geocoding panel */

.GPshowOpen {
  background-color: rgba(0,60,136,0.5);
}

.GPshowOpen:hover {
  background-color: rgba(0,60,136,0.7);
}

/* Results panel */

.GPreturnPicto {
  background-color: #366291;
  border: none;
}

.GPlocationHighlight {
    background-color: rgba(255,200,0,0.25);
    color: #222;
}

.GPreturnPicto {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 3px;
  opacity: 1;
  cursor: pointer;
}

.GPreturnPictoHidden {
  display: none;
}

/* Search panel */


.GPlabel,
.GPlabelFilter {
  max-width: 105px;
}

.GPlabel,
.GPselect {
  margin-top: 5px;
  margin-bottom: 0;
}

.GPlabelFilter,
.GPlabelFilterInput {
  margin-bottom: 5px;
}

/* Calc waiting */

/* INFO 
la patience de calcul est rendu disponible pour le mode dsfr
car ces classes sont modifiées dans le code JS */

.GPwaitingContainerVisible,
.GPwaitingContainerHidden {
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.9);
  font-size: 1.5em;
  font-weight: bold;
  overflow: hidden;
}

.GPwaitingContainerVisible {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.GPwaitingContainerHidden {
  display: none;
}

.GPwaitingContainer {
  margin: auto;
}

.GPwaitingContainerVisible,
.GPwaitingContainerHidden {
  border-radius: 4px;
}