/* REVERSE GEOCODING */

[id^="GPreverseGeocoding-"] {
  
}

.GPelementHidden {
  display: none;
}

/* Showing/hiding reverse geocoding panel */



.GPshowOpen {
  background-color: rgba(0,60,136,0.5);
}

.GPshowOpen:hover {
  background-color: rgba(0,60,136,0.7);
}

/* General panels */

[id^="GPreverseGeocodingResultsClose"] {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

[id^="GPreverseGeocodingPanel-"] {
    position: absolute;
    left: 8px;
}

[id^="GPreverseGeocodingPanelClose-"] {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

/* Calc waiting */

.GPwaitingContainerVisible,
.GPwaitingContainerHidden {
  border-radius: 4px;
}

/* Results panel */

.GPreturnPicto {
  background-color: #366291;
  background-image: url("img/GPreverseGeocodingReturn.png");
  border: none;
}

.GPlocationHighlight {
    background-color: rgba(255,200,0,0.25);
    color: #222;
}
