.gpf-btn-icon-reverse::after {
  -webkit-mask: url("img/reversegeocode.svg") center no-repeat;
  mask: url("img/reversegeocode.svg") center no-repeat;
}

.gpf-flex-reverse {
  /* INFO : surcharge de .gpf-flex par defaut */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
}

.gpf-panel-reverse {
  /* INFO : surcharge de .gpf-panel par defaut */
  width: 100%;
}

/* Result panel */

div[id^=GPreverseGeocodingResultsList-] {
  width: inherit;
}

div[id^=GPreverseGeocodedLocationResultDiv_] {
  display: grid;
  gap: 10px;
  grid-template-columns: 80% 20%;
  margin-left: 10px;
}

.gpf-btn-icon-copy-result {
  margin: auto;
  box-shadow: none;
}

.gpf-btn-icon-copy-result::after {
  -webkit-mask: url("img/dsfr/copy.svg") center no-repeat;
  mask: url("img/dsfr/copy.svg") center no-repeat;
}

.GPautoCompleteProposal {
  line-height: initial;
  height: inherit;
}
