/* REVERSE GEOCODING */
[id^="GPreverseGeocodingPanel-"] {
  width: 280px;
}

.GPshowReverseGeocodingPicto {
  background-image: url("img/GPreverseGeocodingOpen.png");
  background-repeat: no-repeat;
  background-position: 1px center;
}

.GPreverseGeocodingPanelClose {
  background-image: url("img/GPreverseGeocodingOpen.png");
}

.GPreverseGeocodingReturnPicto {
  background-image: url("../../img/GPreturn.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

/* Results panel */

.GPlocationHighlight {
    background-color: rgba(255,200,0,0.25);
    color: #222;
}


.GPcopiedLocation {
  -webkit-mask: url("img/dsfr/check-fill.svg") center no-repeat;
  mask: url("img/dsfr/check-fill.svg") center no-repeat;
  mask-size: 66%;
  height: 20px;
  width: 20px;
}

[id^="GPreverseGeocodedLocationResultCopy_"]:not(.GPcopiedLocation) {
  -webkit-mask: url("img/dsfr/copy.svg") center no-repeat;
  mask: url("img/dsfr/copy.svg") center no-repeat;
  mask-size: 66%;
  height: 20px;
  width: 20px;
}

[id^="GPreverseGeocodedLocationResultCopy_"] {
  margin: auto;
  box-shadow: none;
  background-color: #5E5E5E;
  cursor: pointer;
}

#GPreverseGeocodedLocationNoResultDiv, div[id^="GPreverseGeocodedLocationResultDiv_"] {
  display: flex;
  align-items: center;
}