.gpf-btn-header-catalog {
    z-index: 2;
    position: absolute;
    width: 26px;
    height: 26px;
}

.gpf-btn-icon-header-catalog {
    background-image: url("img/dsfr/header-catalog.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

.gpf-panel__title_catalog {
    color: #101092;
    padding: 12px 15px;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    right: -16px;
}
.gpf-panel__header_catalog {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background: #E3E3FD;
    height: 48px;
}

.gpf-btn-icon-catalog::after {
    -webkit-mask: url("img/dsfr/catalog.svg") center no-repeat;
    mask: url("img/dsfr/catalog.svg") center no-repeat;
}

.gpf-btn-icon-catalog-collapse {
    box-shadow: none;
}

.gpf-btn-icon-catalog-collapse::after {
    -webkit-mask: url("img/dsfr/collapse.svg") center no-repeat;
    mask: url("img/dsfr/collapse.svg") center no-repeat;
    transition: transform 0.2s ease-out 0s;
}

.gpf-btn-icon-catalog-collapse[aria-pressed="true"]::after {
    box-shadow: none;
    transform: rotate(180deg);
}

.gpf-align-items-center {
    justify-content: space-between;
}

.gpf-accordion__btn::after {
    position: absolute;
    right: 0;
}

.gpf-catalog-tabs-fixe {
    --tabs-height: 369px !important;
}
.gpf-catalog-tabs-fixe-with-bar {
    --tabs-height: 434px !important;
}

.informations-more {
    display: flex;
    flex-direction: column;
}

.catalog-container-tabs {
    padding: 0.75rem;
}
.catalog-collapse-show {
    position: absolute;
    right: 0;
}
.catalog-section-icon::before {
    margin-right: 15px;
}
.catalog-thumbnail-default {
    background-image: url("img/dsfr/image-light.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}
.input-wrapper input {
  padding-right: 25px; /* espace pour la croix */
}
.clear-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #000091;
  display: none; /* masqué par défaut */
  padding: 0;
  width: 18px;
  height: 18px;
}

.clear-btn:hover {
  color: #1212FF;
}

.clear-btn svg {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.input-wrapper input:not(:placeholder-shown) + .clear-btn {
  display: block;
}

.fr-tabs {
  box-shadow : unset;
}

.fr-tabs::before {
  box-shadow : unset;
}

.fr-tabs__tab[aria-selected=true] {
    background-size: 100% 0px, 0px calc(100% - 1px), 0px calc(100% - 1px), 100% 3px;
}

.fr-tabs__tab[aria-selected=true]:not(:disabled) {
    background-image: linear-gradient(0deg, var(--border-active-blue-france), var(--border-active-blue-france)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey)), linear-gradient(0deg, var(--border-active-blue-france), var(--border-active-blue-france));
}

.fr-tabs__tab:not([aria-selected=true]) {
    background-color: unset;
    --hover: unset;
    --active: unset;
}

button[id^="GPshowCatalogPicto-"][aria-pressed="true"] + dialog {
    max-width: 450px;
}

.catalog-section-full {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
section.catalog-section-full > h3 > button.fr-accordion__btn[aria-expanded=true]::after {
    transform: rotate(90deg);
    left: 0;
    right: unset;
}

/* Mode mobile doit prendre le dessus */
@media (max-width: 576px) {
    .gpf-mobile-fullscreen .GPtabContent {
        /* max-height: unset !important; */
        height: 100vh;
    }
    dialog[id^="GPcatalogPanel-"] > div:first-of-type {
        width: unset;
        max-width: unset;
      }

    button[id^="GPshowCatalogPicto-"][aria-pressed="true"] + dialog {
        max-width: unset;  
    }
}