.gpf-btn-icon-drawing::after {
  -webkit-mask: url("img/modifier.svg") center no-repeat;
  mask: url("img/modifier.svg") center no-repeat;
}

.gp-label-div,
.gp-styling-div {
  width: 370px;
  transform: translateY(20px);
}

.gp-styling-div {
  width: 410px;
}

.gp-label-div textarea {
  max-width: 100%;
  margin-bottom: 1rem;
}

.gp-label-div input {
  width: 100%;
}

.gp-styling-option.fr-range--sm[data-fr-js-range]::before,
.gp-styling-option.fr-range--sm[data-fr-js-range]::after {
  top: 1.74rem;
}

.drawing-tool {
  width: 40px;
}

.drawing-tool-section-title {
  color: var(--text-label-grey);
  margin-bottom: 0.3rem;
}

.drawing-tool-active {
  background-color: var(--hover-tint);
}

div.drawing-tools-flex-display {
  justify-content: space-between;
  padding : 0;
  margin: 0;
}

div.drawing-tools-flex-display {
  border-bottom: 1px solid var(--border-default-grey);
  padding-bottom: 15px;
}

.drawing-tool-section:last-child.drawing-tools-flex-display {
  border-bottom: unset;
  padding-bottom: unset;
}

/*
* Drawing tools
*/
button[id^=drawing-tool-point-]::after {
  -webkit-mask: url("img/dsfr/create-point.svg") center no-repeat;
  mask: url("img/dsfr/create-point.svg") center no-repeat;
}


button[id^=drawing-tool-line-]::after {
  -webkit-mask: url("img/dsfr/create-line.svg") center no-repeat;
  mask: url("img/dsfr/create-line.svg") center no-repeat;
}

button[id^=drawing-tool-polygon-]::after {
  -webkit-mask: url("img/dsfr/create-polygon.svg") center no-repeat;
  mask: url("img/dsfr/create-polygon.svg") center no-repeat;
}

button[id^=drawing-tool-text-]::after {
  -webkit-mask: url("img/dsfr/create-label.svg") center no-repeat;
  mask: url("img/dsfr/create-label.svg") center no-repeat;
}

/*
* Editing tools
*/
button[id^=drawing-tool-edit-]::after {
  -webkit-mask: url("img/dsfr/edit-geom.svg") center no-repeat;
  mask: url("img/dsfr/edit-geom.svg") center no-repeat;
}

button[id^=drawing-tool-display]::after {
  -webkit-mask: url("img/dsfr/edit-style.svg") center no-repeat;
  mask: url("img/dsfr/edit-style.svg") center no-repeat;
}

button[id^=drawing-tool-tooltip]::after {
  -webkit-mask: url("img/dsfr/edit-text.svg") center no-repeat;
  mask: url("img/dsfr/edit-text.svg") center no-repeat;
}

button[id^=drawing-tool-remove]::after {
  -webkit-mask: url("img/dsfr/delete.svg") center no-repeat;
  mask: url("img/dsfr/delete.svg") center no-repeat;
}

.gpf-draw-linestring-tooltip::before {
  background-color: var(--background-default-grey);
}

.gpf-flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gp-styling-div .gpf-flex-row {
  padding-top: 1em;
}

.gpf-custom-dropdown-options .gpf-custom-dropdown-option:hover {
  background-color: var(--background-default-grey-hover);
}

.gpf-custom-dropdown-options {
  border: 1px solid var(--border-default-grey);
  background-color: var(--background-default-grey);
}

.gpf-custom-dropdown-display:checked + label {
  width: calc(43px + 3.5rem);
}

div:not(.position) > div[id^=GPdrawing-] > dialog[id^=GPdrawingPanel] {
  max-height: unset !important;
}