.fr-nav__list.fr-tabnav__list {
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;

  .fr-nav__item.fr-tabnav__item {
    margin:0;
  }
}

.fr-nav__item.fr-tabnav__item {
  &::before {
    content: none;
  }
}

.fr-nav__link.fr-tabnav__link {
  --hover-tint: var(--hover);
  --active-tint: var(--active);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-image: linear-gradient(0deg, var(--border-default-grey), var(--border-default-grey));

  &[aria-selected='true'] {
    background-image: linear-gradient(0deg, var(--border-active-blue-france), var(--border-active-blue-france));
  }
}

// .fr-tabnav__panel {

// }
