@use './DSFRpanelStyle.scss';
@use '../../mixins.scss' as mix;

.GPToggleControl {
  background-color: var(--background-default-grey);
  padding: 0;

  > button {
    &[aria-pressed='true'],
    &[aria-extended='true'] {
      background-color: var(--background-open-blue-france);
      --hover: var(--background-open-blue-france-hover);
      --active: var(--background-open-blue-france-active);

      &:hover {
        background-color: var(--hover-tint);
      }

      &:active {
        background-color: var(--active-tint);
      }
    }
  }
}

// Icônes personnalisées
[class*=' gpf-btn-icon-ls-tools-'] {
  &:empty {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 2.5rem;
    max-height: 2.5rem;
    --icon-size: 1.5rem;
  }

  &:not(:empty) {
    --icon-size: 1rem;
  }

  &::before {
    margin-left: 0;
    margin-right: 0.5rem;
    vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
    background-color: var(--text-action-high-blue-france);
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
/* Affichage du tooltip au survol du bouton toggle */
@include mix.hover-media-query {
  .GPToggleControl > .GPToggleButton[aria-label]:not([aria-extended='true']):not([aria-pressed='true']):hover::after {
    padding: 0 1.25rem 0 0.5rem;
    height: 2.5rem;
    font-size: 0.75rem;
    line-height: 1.25rem;

    color: var(--text-default-grey);

    background-size:
      0.375rem 0.5rem,
      0.375rem 0.5rem,
      1px 100%,
      100%;
    background-position:
      calc(100% - 0.125rem) 50%,
      100% 50%,
      calc(100% - 0.375rem) 0,
      calc(100% - 0.375rem) 0;
    background-image:
      conic-gradient(
        from 236.31deg at 100% 50%,
        transparent 0deg,
        var(--background-overlap-grey) 0deg,
        var(--background-overlap-grey) 67.38deg,
        transparent 67.38deg
      ),
      conic-gradient(
        from 236.31deg at 100% 50%,
        transparent 0deg,
        var(--border-default-grey) 0deg,
        var(--border-default-grey) 67.38deg,
        transparent 67.38deg
      ),
      linear-gradient(90deg, var(--border-default-grey), var(--border-default-grey)),
      linear-gradient(90deg, var(--background-overlap-grey), var(--background-overlap-grey));
  }
}
