@use './GPFtabNavStyle.scss';

.GPF-dialog {
  button {
    cursor: pointer;
  }

  &__header {
    color: black;
    background-color: rgba(0, 60, 136, 0.6);
  }

  &__close-btn {
    min-width: 16px;
    min-height: 16px;

    &:empty::before {
      content: 'x';
    }
  }
}
