@use './GPFpanelStyle.scss';
@use '../../mixins.scss' as mix;

.GPToggleControl {
  background-color: #fff;

  > button {
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;

    background-color: transparent;

    &:hover {
      background-color: rgb(208, 208, 215);
    }

    &:active {
      background-color: rgb(177, 177, 185);
    }

    &[aria-pressed='true'],
    &[aria-extended='true'] {
      background-color: rgba(0, 60, 136, 0.4);

      &:hover {
        background-color: rgba(0, 60, 136, 0.6);
      }

      &:active {
        background-color: rgba(0, 60, 136, 0.8);
      }
    }
  }
}

// Icônes personnalisées
[class*=' gpf-btn-icon-ls-tools-'] {
  &::before {
    display: block;
    background-color: #000;

    width: 15px;
    height: 15px;
  }
}

/* Affichage du tooltip au survol du bouton toggle */
@include mix.hover-media-query {
  .GPToggleControl > .GPToggleButton[aria-label]:not([aria-extended='true']):not([aria-pressed='true']):hover::after {
    padding: 2px 12px 2px 4px;
    top: 5px;
    background-size:
      0.375rem 0.5rem,
      0.375rem 0.5rem,
      1px 100%,
      100%;
    background-position:
      calc(100% - 0.125rem) 50%,
      100% 50%,
      calc(100% - 0.375rem) 0,
      calc(100% - 0.375rem) 0;
    background-image:
      conic-gradient(
        from 236.31deg at 100% 50%,
        transparent 0deg,
        #ffffff 0deg,
        #ffffff 67.38deg,
        transparent 67.38deg
      ),
      conic-gradient(
        from 236.31deg at 100% 50%,
        transparent 0deg,
        #d1d1d1 0deg,
        #d1d1d1 67.38deg,
        transparent 67.38deg
      ),
      linear-gradient(90deg, #d1d1d1, #d1d1d1), linear-gradient(90deg, #ffffff, #ffffff);
  }
}
