.gpf-simple-menu {
    pointer-events: all !important;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    button,
    a {
        width: 100%;
        box-shadow: unset;
        justify-content: center;
    }
}
.ol-touch .gpf-simple-menu button {
    font-size: 1em;
}
