.ol-control.ol-drawing-info {
    color: var(--light-decisions-text-text-default-grey, #3A3A3A);
    /* 2.Corps de texte/XS - Texte mention/Desktop & Mobile - Regular */
    font-family: Marianne;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    font-size: 12px;

    top: 4em;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none!important;
}
.ol-control.ol-drawing-info:empty {
    pointer-events: none!important;
    display: none;
}
