.gpf-simple-menu {
    pointer-events: all!important;
    background-color: white;
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.gpf-simple-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #ccc;
    border-color: var(--grey-900-175)
}
.gpf-simple-menu li:first-child {
    border-top: none;
}

.gpf-simple-menu a {
    color: #333;
    color: var(--text-action-high-blue-france);
    display: flex;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    text-decoration: none;
    background-image: none;
}
.gpf-simple-menu a:hover {
    background-color: #eee;
    background-color: var(--background-default-grey-active);
}