.gpf-btn-icon-isocurve {
    background-image: url("img/isochrone.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

.gpf-btn-icon-close {}

.gpf-flex-isocurve {
    justify-content: unset;
}

.gpf-btn-icon-reset {
    background-image: url("img/GPisochronOptions.png");
    background-position: -281px center;
}