.gpf-btn-icon-global {
    background-image: url("img/dsfr/territories.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

.gpf-btn-header-global {
    z-index: 2;
    position: absolute;
    width: 26px;
    height: 26px;
}

.gpf-btn-icon-header-global {
    background-image: url("img/dsfr/header-territories.svg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center center;
}

.gpf-panel__body_global {
    overflow: auto;
    max-height: 300px !important;
}

.gpf-panel__title_global {
    color: #101092;
    padding: 12px 15px;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    right: -16px;
}
.gpf-panel__header_global {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background: #E3E3FD;
    height: 48px;
}

/* surchage tile */
.gpf-tile {
    width: 150px;
}

/* direction */
dialog.tiles-vertical {
    width: 175px;
}
.global-entries.tiles-vertical {
    max-height: 425px !important;
}
dialog.tiles-horizontal {

}
.global-entries.tiles-horizontal {
    display: flex;
    flex-direction: row;
}

/* nombre de tuiles */
dialog.tiles-0 {}
dialog.tiles-1 {
    max-width: 150px;
}
dialog.tiles-2 {
    max-width: 300px;
}
dialog.tiles-3 {
    max-width: 450px;
}
dialog.tiles-4 {
    max-width: 600px;
}

/* reduce */
.tiles-reduce div.fr-tile div.fr-tile__header {
  display: none;
}