.gpf-btn-icon-zoom-in {
    height: inherit;
    width: inherit;
}

.gpf-btn-icon-zoom-in::after {
    -webkit-mask: url("img/dsfr/zoom-in.svg") center no-repeat;
    mask: url("img/dsfr/zoom-in.svg") center no-repeat;
}

.gpf-btn-icon-zoom-out {
    height: inherit;
    width: inherit;
}

.gpf-btn-icon-zoom-out::after {
    -webkit-mask: url("img/dsfr/zoom-out.svg") center no-repeat;
    mask: url("img/dsfr/zoom-out.svg") center no-repeat;
}
